*{
    padding: 0px;
    margin: 0px;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #cccccc !important;
}

@import url('https://fonts.googleapis.com/css2?family=Borel&family=Inter&family=Noto+Sans+Mono:wght@100;200;300;400;500;600;700;800;900&family=Pacifico&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');





.bg-white{
    background-color: #e5e5e5;
}
nav{
    padding: 15px 0px;
    height: 160px;
    background-color: #101726;
    margin-bottom: 60px;
    color: #BFB6AE;

    text-align: center;
}
nav #Title h1 a{/* Formatando o título*/
    color: unset;
    text-decoration: none;
}  
nav #Title h1 /* Formatando o título*/ 
{
    font-weight: 600;
    font-size: 2.4em;
    margin-top: 10px;
    margin-bottom: 30px;
    
}
#NavBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#NavBar ul{
    list-style: none;
}

#NavBar ul li:hover{/*Formatando barra de navegação*/
    background-color: #074073;
    color: #ffffff;
}                  
#NavBar ul li /*Formatando barra de navegação*/
{
    float: right;
    margin: 0px 10px;
    padding: 5px 10px;
    border-radius: 6px;
    transition: 0.25s;
}
#NavBar ul li a{
    color: unset;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9em;
}





/*FORMATANDO O TÍTULO DA PÁGINA*/

header h1{
    font-size: 2em !important;
    font-weight: 600 !important;
}



