
#Form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-group{
  margin: 0px;
  
  text-align: start ;
  margin: auto;
  width: 400px;
  
}

.form-group label{
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  margin-top: 20px;
}
.form-group input, .form-group select{
  padding: 6px;
  width: 300px;
  height: 40px;
  border: 0.5px solid rgb(189, 189, 189);
  border-radius: 8px;
  font-size: 0.9em;
}
.errorlist{
 
  list-style: none;
  font-size: 0.75em;
  font-weight: 700;
  color:#BF1F2C ;

}
.errorlist.nonfield{
  color: white !important;

}
.nonfield{
  margin-top: 20px;
  background-color: #f13242;
  border-radius: 6px;
  width: 300px; 
  padding: 10px 20px;
  text-align: center;
}
.errorlist ul li{
  display: block;
  margin-bottom: 30px;
}

.help_text{
  font-size: 0.7em;
  font-weight: 600;
}
.help_text ul li{
  margin-bottom: 6px;
}
.help_text ul{
  list-style-type: none;

}
.help_text p{
  margin: 0px;
}

