{%load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
  

  <!-- Script para icons do FontAwesome -->
  <script src="https://kit.fontawesome.com/5b85f063c4.js" crossorigin="anonymous"></script>

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'global/css.css'%}">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'global/vendor/css/bootstrap.min.css'%}">
  
  <!--Normalize Css-->
  <link rel="stylesheet" href="{% static 'global/normalize.css'%}">
  <link rel="stylesheet" href="{% static 'global/paginator.css'%}">

  {%block 'css'%}
  {%endblock 'css'%}

</head>
<body>
<nav>

  <div id="Title">
    <h1>
      <a href="{% url 'contatos:home' %}">Agenda</a>
    </h1>
  </div>

  <div id="NavBar">
    <ul>
      <li>
        <a href="{% url 'contatos:create' %}">Criar Contato</a>
      </li>
      <li>
        <a href="{% url 'contatos:home' %}">Ver contatos</a>
      </li>
      <li>
        <a href="{% url 'contatos:create_user' %}">Criar conta</a>
      </li>
    </ul>
  </div>

</nav>

  {% block 'body' %}

  {% endblock 'body' %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'global/vendor/js/bootstrap.min.js' %}"></script>
</body>
</html>