{%load static%}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ titulo }}</title>
  

  <!-- Script para icons do FontAwesome -->
  <script src="https://kit.fontawesome.com/5b85f063c4.js" crossorigin="anonymous"></script>

  <!-- Css -->
  <link rel="stylesheet" href="{% static 'global/css.css'%}">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{% static 'global/vendor/css/bootstrap.min.css'%}">
  
  <!--Normalize Css-->
  <link rel="stylesheet" href="{% static 'global/normalize.css'%}">

  {%block 'css'%}
  {%endblock 'css'%}

</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light px-5 bg-white">
    <a class="navbar-brand">Agenda</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            {% if user.is_authenticated %}
              <a class="nav-link" href="#">
                <div class="usuario">
                    <span class="img">
                        <img src="pessoa.png" alt="">
                    </span>
                    <p>Gustavo Campos</p>
                </div>
              </a>
            {%else%}
            <a class="nav-link" href="#">
              Login
            </a>
            {%endif%}

        </li>

      </ul>
    </div>
</nav>
  {% block 'body' %}

  {% endblock 'body' %}

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="{% static 'global/vendor/js/bootstrap.min.js' %}"></script>
</body>
</html>