{%extends 'global/base.html'%}
{% load static %}

{%block 'css'%}
  <link rel="stylesheet" href="{% static 'contact/form.css'%}">

{%endblock 'css'%}

{% block 'body' %}
<div class="container ">

  <div class="bg-white p-3 text-center">
    <h1>Criar contato</h1>


   <form method="post" enctype="multipart/form-data" action="{{form_action}}" id="Form">
    {% csrf_token %}
    {% for field in form %}
    <div class="form-group">
      <label for="{{field.id_for_label}}">{{field.label}}</label>
      {{field}}
      {{field.errors}}
      <span class="help_text">
       <p> {{field.help_text}}</p>
      </span>
    </div>
    {% endfor %}
    {{form.non_field_errors}}
    <button class="btn btn-info mt-3 btn-sm" type="submit">{{acao_nome_post}}</button>
   </form>

  </div>

</div>

{% endblock 'body' %}